body {
    display: contents;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    position:static;
    height: 100px;
    margin-top:-8px;
    margin-left: 300px;
}

.content h2 {
    text-align: center;
    font-size:x-large;
    font-weight: 750;
    text-decoration: underline;
}

.content p {
    text-align: center;
}

.content h3{
    text-align:center;
}