  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100vh;
}

.main {
    padding: 20px;
    background-color: #f2f2f2;
}
.bulletin-board {
    background-color: rgb(50, 32, 32);
    border: 2px solid #ddd;
    height:50px;
    width:50px;
    padding: 20px;
    border-radius: 10px;
    margin-top:-400px;
}
.announcement {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50px; /* added this to make it full width */
    height: auto; /* changed this to auto to make it dynamic */
}

