  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main {
    padding: 20px;
    background-color: #f2f2f2;
}


.bulletin {
    max-width: 600px;
    margin: auto;
    position: relative;
    background-color: #b31717;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.bulletin-board {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slides {
    display: none;
    text-align: center;
}

.slides img {
    height:50px;
    width: 50px;
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container {
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #8a6363;
}

p {
    margin: 10px 0;
}

.announce {
    margin-top:350px;
    margin-left:390px;
    height: 100px;
}

.announcement {
    background-color: #7f5858;
    padding: 20px;
    border-radius: 5px;
    width: 1050px; /* added this to make it full width */
    height: 169px; /* changed this to auto to make it dynamic */
}

