  body {
    display: contents;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    padding: 20px;
    background-color: #f2f2f2;
}


.bulletin {
    margin-top:150px;
    margin-left:590px;
    height: 100px;
    display:flex;
}


.bulletin-board {
    background-color: rgb(192, 115, 115);
    border: 2px solid #100d0d;
    height:350px;
    width:600px;
    padding: 20px;
    border-radius: 10px;
}

.announce {
    margin-top:350px;
    margin-left:390px;
    height: 100px;
}

.announcement {
    background-color: #412525;
    padding: 20px;
    border-radius: 5px;
    width: 1050px; /* added this to make it full width */
    height: 169px; /* changed this to auto to make it dynamic */
}

