body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
    padding-top: 13%;
    margin: auto;
    text-align: center;
}

.data{
    margin: auto;
    text-align: center;
    padding: 5% 2% ;
    width: 80%;
}

.companyname{
    margin: auto;
    text-align: center;
}

table,td,th{
    margin: auto;
    padding: 6px;
}

.staffinfo{
    text-align: left;
    padding-bottom: 10%;
}

.payroll,.payroll td,.payroll th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: max-content;
    margin: auto;
}

.payroll th{
    background-color: #E7E7E7;
}
