.sidebar {
    position: fixed;
    margin-top:120px;
    height: 100%;
    width: 200px;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: column;
}

.sidebar ul li img {
    width: 25%;
    margin-right: 25px;
}

.sidebar ul li a {
    color: #757575;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 25px; 
    font-size: 22px;
    transition: background-color 0.3s ease; 
}

.sidebar ul li a:hover {
    color: #4A85F6; 
}
