.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul li img {
    width: 50px; /* adjust the width to your liking */
    height: 50px; /* adjust the height to your liking */
    margin-right: -20px; /* add some space between the image and the text */
    margin-top: -16px;
    vertical-align: middle;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #757575;
    text-decoration: none;
    display: inline-block; 
    padding: 50px; 
    transition: background-color 0.3s ease; 
}
 
a {
    font-size: 30px;
}

.sidebar ul li a:hover {
    color: #4A85F6(255, 255, 255, 0.1); 
}
