@import url('header.css');
@import url('sidebar.css');

html {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 255px);
    background: #fff;
    padding: 14px 50px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}