body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.payrolllist{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content h1{
    margin-top: 150px;
    margin-bottom: 50px;
    color: #4A85F6;
}

.pagination {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    flex-basis: 100%
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 50px 4px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination span {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ccc;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.pagination .current {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.pagination a.disabled {
    pointer-events: none;
    background-color: #ddd;
    color: #999;
    border-color: #999;
}

table img{
    width: 30%;
    opacity: 75%;
}

th{
    padding: 2% 0%;
    background-color: #EFF4FA;
    border-color: #EFF4FA;
}

td:first-child{
    width: 30%;
}

td:last-child {
    width: 20%;
}

tr{
    text-align: center;
}

table{
    width: 100%;
}

#padding {
    height: 10px;
}

.payrolllist h2 {
    padding: 2% 0% 0% 2%;
    flex-basis: 50%;
    flex-grow: 1;
    width: fit-content;
}

#filterForm {
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 16px;
    font-size: 17px;
    border: 1px solid black;
    overflow: hidden;
}

select {
    outline: none;
    font-size: 17px;
    border: 0px;
    height: 40px;
    width: 140px;
    padding: 2% 2% 2% 2%;
}

hr{
    width: 100%;
    margin-top: 25px;
    padding: 0%;
    height: 0%;
    flex-basis: 90%;
}