body {
  display: contents;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.pfp {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

img {
  width: 30%;
}

.content{
  position: absolute;
  padding-top: 10%;
  padding-left: 100px;
  width: calc(100% - 244px);
}

.cards {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  margin-bottom: 30px;
}

#addr {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
  flex: 1 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1 0 auto;
  max-width: calc(32% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color:#8F9BB3;
}

.card h3 {
  padding-left: 5%;
}