body {
    display: contents;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.payrolllist{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.content h1{
    margin-top: 150px;
    margin-bottom: 50px;
    color: #4A85F6;
}

.content h2{
    padding: 2% 0% 0% 2%;
}

.pagination {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 50px 4px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination span {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ccc;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.pagination .current {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.pagination a.disabled {
    pointer-events: none;
    background-color: #ddd;
    color: #999;
    border-color: #999;
}

table img{
    width: 30%;
    opacity: 80%;
}

th{
    padding: 2% 0%;
    background-color: #EFF4FA;
    border-color: #EFF4FA;
}

td:first-child{
    width: 30%;
}

td:last-child {
    width: 20%;
}

tr{
    text-align: center;
}

#padding {
    height: 10px;
}