.dashboard-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  width: 45%;
  text-align: center;
}

.dashboard-tables {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 45%;
  margin-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}
