table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button, a {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

button {
  background-color: #3498db;
}

button:hover {
  background-color: #338eca;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

input.error {
  border: 2px solid red;
}

#confirmButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 16px;
  border-radius: 4px;
}

#cancelButton {
  padding: 10px 20px;
  background-color: #00000075;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px;
}

#confirmButton:hover {
  background-color: #45a049;
}

#cancelButton:hover {
  background-color: #00000095;
}

.gap {
  padding: 25px 25px 25px 25px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

input[readonly] {
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  text-align: center;
  color: #333;
}

label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
